<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript" src="../res/scripts/lib/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../res/scripts/lib/jquery.corner.js"></script>
<script language="javascript" type="text/javascript">
$(function(){
	//圆角
	//圆角
	$(".emp_name,.emp_pwd").corner("5px");
})
</script>
<link type="text/css" rel="stylesheet" href="css/login.css" />
<title>SPOTIC LOGIN</title>
</head>

<body>
<!-- logo start-->
<div class="logoDiv">
</div>
<!-- logo end-->

<!-- login start-->
<div class="loginTopDiv"></div>
<div class="loginDiv">
	<input type="text" name="" class="emp_name" />
	<input type="password" name="" class="emp_pwd" />
	<input type="submit" class="sub" value=""/>
</div>
<div class="loginBottomDiv"></div>
<!-- login end-->
</body>
</html>
